* {
    margin: 0;
}

.navbar {
    background-color: rgb(174, 167, 156);
    position: relative;
    height: 60px;
    position: sticky;
    top: 0;

}

.in {
    width: 150px;
}

.logo {
    position: absolute;
    width: 25%;
    left: 100px;
    top: 5px;
}
 
.menu {
    position: absolute;
    right: 0%;
    width: 75%;
} 

/* .menu ul li {
    display: inline-block;
    border: 2px solid rgb(43, 41, 41);
    width: 200px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    font-size: 25px;
    color: rgb(27, 24, 24);
    border-radius: 50px 60px;

} */
.menu ul li{
	display: inline-block;
	border:2px solid white;
	width: 200px;
	height: 56px;
	text-align: center;
	line-height:  56px;
	font-size: 25px;
	color: white;
	border-radius: 20px 60px;
	float: left;
}

 

.menu ul li:hover {
    color: blueviolet;
    text-decoration: underline;

}  
header {
  
     background-image: url(); 
     background-size: 100% 100%;
    background-repeat: no-repeat; 

     background-size: 100px 100px; 
    background: no-repeat;

 }  
 
#box>img{
    width: 100%;
    height: 500px;
   
}
 #slider{
    width: 100%;
    height: 500px;
    position: relative; 

}
button{
    padding: 10px;
    border: none;
    background-color: grey;
    font-size: 30px;
    color: white;
    position: absolute;
    top:45%;
    cursor: pointer;
}

.next{
    border-radius: 10px 0px 0px 10px;
    
    right:30px;
}
.prev{
    border-radius: 0px 10px 10px 0px;
    left:30px;
    margin: 20px;
}

  .nav_above{
    height: 40px;
    background-color: rgb(156, 149, 149);
}


.left{
    position: absolute;
    left: 70px;
    top: 70px;
    color: rgb(116, 169, 216);
    font-style: italic;
    letter-spacing: 3px;
} 
.right{
    position: absolute;
    right: 70px;
    top: 12px;
    color: rgb(165, 150, 150);
}
.left>span{
    margin-left: 5px;
    cursor: pointer;

}
.right>i{
    margin-left: 8px;
    cursor: pointer; 
 }   */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    clear: both;
    /* position: fixed;
    bottom: 0;
    width: 100%; */


}


.team-member{
 /* float: left; */

 background-color: rgb(174, 167, 156);
 width:calc(33.33% - 8%) ;
 float: left;
 text-align: center;
 margin: 2%;
 padding: 2%;

 }
 .team-member>img{
    width: 250px;
    height: 250px;
    border: 2px solid rgb(173, 157, 132);
    border-radius: 50%;
   
 }
 .team-member>h1,.team-member>p{
    color: rgb(32, 8, 139);
    letter-spacing: 4px;
    margin: 10px;
    /* text-shadow: 3px 3px 3px rgba(26, 17, 17, 0.845); */
 }
 .team-member>a{
    color: antiquewhite;
    font-size: 22px;
    text-decoration: none;
    border: 2px solid;
    width: 180px;
    height: 50px;
    display: inline-block;
    margin: 10px 0;
    line-height: 50px;
    border-radius: 20px 60px;


 }
 #heading_team{
    color: rgb(175, 206, 234);
    text-shadow: 4px 4px 4px bisque;
    font-size: 45px;
    text-align: center;
    text-decoration:underline ;
 }
 @media screen and (maxwidth:568px){
.team-member{
    
    float: none;
  
}
    
}
.js{
    display: none;
}
.fa-solid fa-bars
{
    width: 30px;
}

    
      

  
    
 




